*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.banner-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 120px;
}
.banner-text{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.banner-title{
    color: #272727;
    font-size: 4.375em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 2rem;
    }
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875em;
    max-width: 634px;
    margin-bottom: 32px;

}

.btn-primary{
    padding: 20px 43px;
    border-radius: 0.5rem;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.banner-img-containar{
    margin-bottom: 0;
}
.banner-img{
    max-width: 480px;
    max-height: 780px;
}

.featured-section{
    width: 80%;
    margin: auto;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.featured-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    
    margin-bottom: 48px;
}

.featured-img-boxes{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 120px;
}
.featured-img-box{
    width: 350px; 
    height: 480px; 
    position: relative
}

.featured-box-pink{
    width: 350px; 
    height: 450px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: rgba(167, 33, 98, 0.15); 
    border-radius: 300px 300px 0px 0px;

}
.featured-box-img{
    width: 250px; 
    height: 350px; 
    left: 50px; 
    top: 100px; 
    position: absolute
}

.featured-box-text{
    left: 80px; 
    top: 500px; 
    position: absolute; 
    text-align: center; 
    color: #272727; 
    font-size: 24px;  
    font-weight: 700; 
    text-decoration: underline; 
    line-height: 35px; word-wrap: break-word
}

.deal-containar{
    height: 80vh;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.deal-text{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 22px;
}

.deal-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

span{
    color: #E55473;;
}
.insta-containar{
    width: 80%;
    margin: auto;
    text-align: center;

}
.insta-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.insta-title{
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.insta-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.insta-img-boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
}

.insta-img{
    width: 300px;
    height: 320px;
}

.coupon-containar{
    background-image: url('./images/Rectangle 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 1000px;
    /* background-origin: content-box; */
   margin: auto;
   /* padding: 10px; */
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   gap: 20px;
   margin-bottom: 100px;
}

input{
    width: 500px;
    height: 54px;
    border-radius: 5px;
    background: #FFF;
    padding-left: 10px;
    border: #000;
    margin-right: 10px;
}