*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.banner-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 7.5rem;
}
.banner-text{
    max-width: 43.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.banner-title{
    color: #272727;
    font-size: 4.375em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
    }
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875em;
    max-width: 39.625rem;
    margin-bottom: 2rem;

}

.btn-primary{
    padding: 1.25rem 2.6875rem;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.banner-img-containar{
    margin-bottom: 0;
}
.banner-img{
    max-width: 30rem;
    max-height: 48.75rem;
}

.featured-section{
    width: 90%;
    margin: auto;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.featured-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 3rem;
}

.featured-img-boxes{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 7.5rem;
}
.featured-img-box{
    width: 21.875rem; 
    height: 30rem; 
    position: relative
}

.featured-box-1{
    width: 21.875rem; 
    height: 28.125rem; 
    left: 0rem; 
    top: 0rem; 
    position: absolute; 
    background: rgba(167, 33, 98, 0.15); 
    border-radius: 18.75rem 18.75rem 0rem 0rem;

}
.featured-box-2{
    width: 21.875rem; 
    height: 28.125rem; 
    left: 0rem; 
    top: 0rem; 
    position: absolute; 
    background: rgba(5, 151, 160, 0.15); 
    border-radius: 18.75rem 18.75rem 0rem 0rem;

}
.featured-box-3{
    width: 21.875rem; 
    height: 28.125rem; 
    left: 0rem; 
    top: 0rem; 
    position: absolute; 
    background: rgba(71, 125, 17, 0.15); 
    border-radius: 18.75rem 18.75rem 0rem 0rem;

}
.featured-box-img{
    width: 15.625rem; 
    height: 21.875rem; 
    left: 3.125rem; 
    top: 6.25rem; 
    position: absolute
}

.featured-box-text{
    left: 5rem; 
    top: 31.25rem; 
    position: absolute; 
    text-align: center; 
    color: #272727; 
    font-size: 1.5rem;  
    font-weight: 700; 
    text-decoration: underline; 
    line-height: 2.1875rem; word-wrap: break-word
}

.deal-containar{
    height: 80vh;
    border-radius: 0.5rem;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.deal-text{
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.375rem;
}

.deal-title{
    color: #272727;
    text-align: center;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

span{
    color: #E55473;;
}
.insta-containar{
    width: 80%;
    margin: auto;
    text-align: center;

}
.insta-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.insta-title{
    color: #272727;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.insta-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

.insta-img-boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.9375rem;
    margin-bottom: 6.25rem;
}

.insta-img{
    width: 17.875rem;
    height: 20.6875rem;
}

.coupon-containar{
    background-image: url('./images/Rectangle 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 18.75rem;
    width: 62.5rem;
    /* background-origin: content-box; */
   margin: auto;
   /* padding: 0.625rem; */
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   gap: 1.25rem;
   margin-bottom: 6.25rem;
}

input{
    width: 31.25rem;
    height: 3.375rem;
    border-radius: 0.3125rem;
    background: #FFF;
    padding-left: 0.625rem;
    border: #000;
    margin-right: 0.625rem;
}

footer{
    height: 25rem;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.625rem;

}

.footer-title{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0.625rem;
}

.footer-description{
    text-align: center;
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 5px;
}

small{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}